[Unit]
Description=Leihs Daily Backup


[Service]
SyslogIdentifier=leihs-db-backup
Type=oneshot
WorkingDirectory={{db_backup_dir}}
ExecStart=/usr/local/bin/dump-leihs-db


{% if db_backup_service_custom_extend is defined and db_backup_service_custom_extend %}
{{ db_backup_service_custom_extend }}
{% endif %}
