{:scalars {:ID {:parse :uuid-parse :serialize :uuid-serialize}
           :Int {:parse :int-parse :serialize :int-serialize}
           :Timestamptz {:parse :timestamptz-parse :serialize :timestamptz-serialize}}
 :enums {:InspectorPriority {:values [:LOW :MEDIUM :HIGH :MANDATORY]},
         :Priority {:values [:NORMAL :HIGH]},
         :State {:values [:APPROVED :DENIED :IN_APPROVAL :NEW
                          :PARTIALLY_APPROVED]}
         :OrderStatus {:values [:NOT_PROCESSED :IN_PROGRESS :PROCURED :ALTERNATIVE_PROCURED :NOT_PROCURED]}},
 :input-objects
 {:AdminInput {:fields {:user_id {:type (non-null :ID)}}},
  :BudgetLimitInput {:fields {:amount_cents {:type :Int},
                              :budget_period_id {:type (non-null :ID)}}},
  :BudgetPeriodInput {:fields {:end_date {:type (non-null :Timestamptz)},
                               :id {:type :ID},
                               :inspection_start_date {:type (non-null
                                                               :Timestamptz)},
                               :name {:type (non-null String)}}},
  :CategoryInput {:fields {:cost_center {:type String},
                           :general_ledger_account {:type String},
                           :id {:type :ID},
                           :inspectors {:type (list :ID)},
                           :name {:type (non-null String)},
                           :procurement_account {:type String},
                           :viewers {:type (list :ID)}}},
  :CategoryViewersInput {:fields {:id {:type (non-null :ID)},
                                  :viewers {:type (list :ID)}}},
  :DeleteRequestInput {:fields {:id {:type (non-null :ID)}}},
  :MainCategoryInput {:fields {:budget_limits {:type (list
                                                       :BudgetLimitInput)},
                               :categories {:type (list :CategoryInput)},
                               :id {:type :ID},
                               :name {:type String},
                               :new_image_url {:type (list :UploadInput)},
                               :toDelete {:type Boolean}}},
  :CreateRequestInput {:fields {:accounting_type {:type String},
                                :approved_quantity {:type :Int},
                                :article_name {:type String},
                                :article_number {:type String},
                                :attachments {:type (list :UploadInput)},
                                :budget_period {:type (non-null :ID)},
                                :category {:type :ID},
                                :inspection_comment {:type String},
                                :inspector_priority {:type
                                                     :InspectorPriority},
                                :internal_order_number {:type String},
                                :location_name {:type String},
                                :model {:type :ID},
                                :motivation {:type String},
                                :order_quantity {:type :Int},
                                :order_status {:type :OrderStatus},
                                :order_comment {:type String},
                                :price_cents {:type :Int},
                                :price_currency {:type String},
                                :priority {:type :Priority},
                                :receiver {:type String},
                                :replacement {:type Boolean},
                                :requested_quantity {:type (non-null :Int)},
                                :room {:type (non-null :ID)},
                                :supplier {:type :ID},
                                :supplier_name {:type String},
                                :template {:type :ID},
                                :user {:type :ID}}},
  :ProcurementSettingsInput {:fields {:contact_url {:type String},
                                      :inspection_comments
                                      {:type (list String)}}},
  ; NOTE: For the purpose of UI and required fields (*) an extra key
  ; `:required`
  ; should be used rather then using `non-null` and the schema information.
  :RequestInput {:fields {:accounting_type {:type String},
                          :approved_quantity {:type :Int},
                          :article_name {:type String},
                          :article_number {:type String},
                          :attachments {:type (list :UploadInput)},
                          :budget_period {:type :ID},
                          :category {:type :ID},
                          :id {:type (non-null :ID)},
                          :inspection_comment {:type String},
                          :inspector_priority {:type :InspectorPriority},
                          :internal_order_number {:type String},
                          :location_name {:type String},
                          :model {:type :ID},
                          :motivation {:type String},
                          :order_quantity {:type :Int},
                          :order_status {:type :OrderStatus}
                          :order_comment {:type String}
                          :organization {:type :ID},
                          :price_cents {:type :Int},
                          :price_currency {:type String},
                          :priority {:type :Priority},
                          :receiver {:type String},
                          :replacement {:type Boolean},
                          :requested_quantity {:type :Int},
                          :room {:type :ID},
                          :supplier {:type :ID},
                          :supplier_name {:type String},
                          :user {:type :ID}}},
  :RequestBudgetPeriodInput {:fields {:budget_period {:type :ID},
                                      :id {:type :ID}}},
  :RequestCategoryInput {:fields {:category {:type :ID}, :id {:type :ID}}},
  :RequesterOrganizationInput {:fields {:department {:type (non-null String)},
                                        :organization {:type (non-null
                                                               String)},
                                        :user_id {:type (non-null :ID)}}},
  :TemplateInput {:fields {:article_name {:type String},
                           :article_number {:type String},
                           :category_id {:type (non-null :ID)},
                           :id {:type :ID},
                           :is_archived {:type Boolean}
                           :model {:type :ID},
                           :price_cents {:type :Int},
                           :supplier_id {:type :ID},
                           :supplier_name {:type String},
                           :to_delete {:type Boolean}}},
  :UploadInput {:fields {:id {:type :ID},
                         :to_delete {:type (non-null Boolean)},
                         :typename {:type (non-null String)}}}},
 :mutations
 {:admins {:args {:input_data {:type (list :AdminInput)}},
           :resolve :update-admins,
           :type (list :User)},
  :budget_periods {:args {:input_data {:type (list :BudgetPeriodInput)}},
                   :resolve :update-budget-periods,
                   :type (list :BudgetPeriod)},
  :categories_viewers {:args {:input_data {:type (list
                                                   :CategoryViewersInput)}},
                       :resolve :update-categories-viewers,
                       :type (list :Category)},
  :change_request_budget_period {:args {:input_data
                                        {:type :RequestBudgetPeriodInput}},
                                 :resolve :change-request-budget-period,
                                 :type :Request},
  :change_request_category {:args {:input_data {:type :RequestCategoryInput}},
                            :resolve :change-request-category,
                            :type :Request},
  :create_request {:args {:input_data {:type :CreateRequestInput}},
                   :resolve :create-request,
                   :type :Request},
  :delete_request {:args {:input_data {:type :DeleteRequestInput}},
                   :resolve :delete-request,
                   :type Boolean},
  :main_categories {:args {:input_data {:type (list :MainCategoryInput)}},
                    :resolve :update-main-categories,
                    :type (list :MainCategory)},
  :request {:args {:input_data {:type :RequestInput}},
            :resolve :update-request,
            :type :Request},
  :requesters_organizations
  {:args {:input_data {:type (list :RequesterOrganizationInput)}},
   :resolve :update-requesters-organizations,
   :type (list :RequesterOrganization)},
  :settings {:args {:input_data {:type :ProcurementSettingsInput}},
             :resolve :update-settings,
             :type :ProcurementSettings},
  :update_templates {:args {:input_data {:type (list :TemplateInput)}},
                     :resolve :update-templates,
                     :type (list :Category)}},
 :objects
 {:Attachment {:fields {:filename {:type String},
                        :id {:type (non-null :ID)},
                        :url {:type (non-null String)}}},
  :BudgetLimit {:fields {:amount_cents {:type (non-null :Int)},
                         :amount_currency {:type (non-null String)},
                         :budget_period {:resolve :budget-period,
                                         :type (non-null :BudgetPeriod)},
                         :id {:type (non-null :ID)},
                         :main_category {:resolve :main-category,
                                         :type (non-null :MainCategory)}}},
  :BudgetPeriod
  {:fields
   {:cacheKey {:type String},
    :can_delete {:resolve :can-delete-budget-period?,
                 :type (non-null Boolean)},
    :end_date {:type (non-null :Timestamptz)},
    :id {:type (non-null :ID)},
    :inspection_start_date {:type (non-null :Timestamptz)},
    :main_categories {:type (list :MainCategory)},
    :name {:type (non-null String)},
    :total_price_cents {:type (non-null String)},
    :total_price_cents_approved_quantities
    {:resolve :total-price-cents-approved-quantities, :type String},
    :total_price_cents_inspected_requests
    {:resolve :total-price-cents-inspected-requests, :type String},
    :total_price_cents_new_requests
    {:resolve :total-price-cents-new-requests, :type String},
    :total_price_cents_order_quantities
    {:resolve :total-price-cents-order-quantities, :type String},
    :total_price_cents_requested_quantities
    {:resolve :total-price-cents-requested-quantities, :type String}}},
  :Building {:fields {:code {:type String},
                      :id {:type (non-null :ID)},
                      :name {:type (non-null String)},
                      :rooms {:resolve :rooms, :type (list :Room)}}},
  :Category {:fields {:cacheKey {:type String},
                      :can_delete {:resolve :can-delete-category?,
                                   :type (non-null Boolean)},
                      :cost_center {:type String},
                      :general_ledger_account {:type String},
                      :id {:type (non-null :ID)},
                      :inspectors {:resolve :inspectors, :type (list :User)},
                      :main_category {:type :MainCategory},
                      :name {:type (non-null String)},
                      :procurement_account {:type String},
                      :requests {:type (list :Request)},
                      :templates {:resolve :templates,
                                  :type (list :Template)},
                      :total_price_cents {:type (non-null String)},
                      :viewers {:resolve :viewers, :type (list :User)}}},
  :CurrentUser {:fields {:navbarProps {:type String},
                         :saved_filters {:type :SavedFilters},
                         :user {:type (non-null :User)}}},
  :Dashboard {:fields {:budget_periods {:type (list :BudgetPeriod)},
                       :cacheKey {:type String},
                       :total_count {:type (non-null :Int)}}},
  :MainCategory {:fields {:budget_limits {:resolve :budget-limits,
                                          :type (list :BudgetLimit)},
                          :cacheKey {:type String},
                          :can_delete {:resolve :can-delete-main-category?,
                                       :type (non-null Boolean)},
                          :categories {:type (list :Category)},
                          :id {:type (non-null :ID)},
                          :image_url {:type String},
                          :name {:type (non-null String)},
                          :total_price_cents {:type (non-null String)}}},
  :Model {:fields {:id {:type (non-null :ID)},
                   :name {:type (non-null String)},
                   :product {:type (non-null String)},
                   :version {:type String}}},
  :Organization {:fields {:department {:type :Organization},
                          :id {:type (non-null :ID)},
                          :name {:type (non-null String)},
                          :organizations {:resolve :organizations,
                                          :type (list :Organization)},
                          :parent_id {:type :ID},
                          :shortname {:type String}}},
  :ProcurementSettings {:fields {:contact_url {:type String},
                                 :inspection_comments {:type (list String)}}},
  :Request {:fields
            {:accounting_type {:type :RequestFieldString},
             :actionPermissions {:type :RequestActionPermissions},
             :approved_quantity {:type :RequestFieldInt},
             :article_name {:type :RequestFieldString},
             :article_number {:type :RequestFieldString},
             :attachments {:type :RequestFieldAttachments},
             :budget_period {:type :RequestFieldBudgetPeriod},
             :category {:type :RequestFieldCategory},
             :cost_center {:type :RequestFieldCostCenter},
             :general_ledger_account {:type
                                      :RequestFieldGeneralLedgerAccount},
             :id {:type :ID},
             :inspection_comment {:type :RequestFieldString},
             :inspector_priority {:type :RequestFieldInspectorPriority},
             :internal_order_number {:type :RequestFieldString},
             :model {:type :RequestFieldModel},
             :motivation {:type :RequestFieldString},
             :order_quantity {:type :RequestFieldInt},
             :order_status {:type :RequestFieldOrderStatus}
             :order_comment {:type :RequestFieldString}
             :organization {:type :RequestFieldOrganization},
             :price_cents {:type :RequestFieldInt},
             :price_currency {:type :RequestFieldString},
             :priority {:type :RequestFieldPriority},
             :procurement_account {:type :RequestFieldProcurementAccount},
             :receiver {:type :RequestFieldString},
             :replacement {:type :RequestFieldBoolean},
             :requested_quantity {:type :RequestFieldInt},
             :room {:type :RequestFieldRoom},
             :short_id {:type :String},
             :state {:type (non-null :State)},
             :supplier {:type :RequestFieldSupplier},
             :supplier_name {:type :RequestFieldString},
             :template {:type :RequestFieldTemplate},
             :total_price_cents {:type (non-null String)},
             :user {:type :RequestFieldUser}}},
  :RequestActionPermissions {:fields
                             {:delete {:type (non-null Boolean)},
                              :edit {:type (non-null Boolean)},
                              :moveBudgetPeriod {:type (non-null Boolean)},
                              :moveCategory {:type (non-null Boolean)}}},
  :RequestFieldAttachments
  {:fields {:default {:resolve :attachments, :type (list :Attachment)},
            :read {:type (non-null Boolean)},
            :request_id {:type :ID},
            :required {:type (non-null Boolean)},
            :value {:resolve :attachments, :type (list :Attachment)},
            :write {:type (non-null Boolean)}}},
  :RequestFieldBoolean {:fields {:default {:type Boolean},
                                 :read {:type (non-null Boolean)},
                                 :required {:type (non-null Boolean)},
                                 :value {:type Boolean},
                                 :write {:type (non-null Boolean)}}},
  :RequestFieldBudgetPeriod {:fields {:default {:type :BudgetPeriod},
                                      :read {:type (non-null Boolean)},
                                      :required {:type (non-null Boolean)},
                                      :value {:type :BudgetPeriod},
                                      :write {:type (non-null Boolean)}}},
  :RequestFieldCategory {:fields {:default {:type :Category},
                                  :read {:type (non-null Boolean)},
                                  :required {:type (non-null Boolean)},
                                  :value {:type :Category},
                                  :write {:type (non-null Boolean)}}},
  :RequestFieldCostCenter {:fields {:default {:type String},
                                    :read {:type (non-null Boolean)},
                                    :required {:type (non-null Boolean)},
                                    :value {:type String},
                                    :write {:type (non-null Boolean)}}},
  :RequestFieldGeneralLedgerAccount {:fields
                                     {:default {:type String},
                                      :read {:type (non-null Boolean)},
                                      :required {:type (non-null Boolean)},
                                      :value {:type String},
                                      :write {:type (non-null Boolean)}}},
  :RequestFieldID {:fields {:default {:type :ID},
                            :read {:type (non-null Boolean)},
                            :required {:type (non-null Boolean)},
                            :value {:type (non-null :ID)},
                            :write {:type (non-null Boolean)}}},
  :RequestFieldInspectorPriority {:fields
                                  {:default {:type :InspectorPriority},
                                   :read {:type (non-null Boolean)},
                                   :required {:type (non-null Boolean)},
                                   :value {:type :InspectorPriority},
                                   :write {:type (non-null Boolean)}}},
  :RequestFieldInt {:fields {:default {:type :Int},
                             :read {:type (non-null Boolean)},
                             :required {:type (non-null Boolean)},
                             :value {:type :Int},
                             :write {:type (non-null Boolean)}}},
  :RequestFieldModel {:fields {:default {:type :Model},
                               :read {:type (non-null Boolean)},
                               :required {:type (non-null Boolean)},
                               :value {:type :Model},
                               :write {:type (non-null Boolean)}}},
  :RequestFieldOrganization {:fields {:default {:type :Organization},
                                      :read {:type (non-null Boolean)},
                                      :required {:type (non-null Boolean)},
                                      :value {:type :Organization},
                                      :write {:type (non-null Boolean)}}},
  :RequestFieldOrderStatus {:fields {:default {:type :OrderStatus},
                                     :read {:type (non-null Boolean)},
                                     :required {:type (non-null Boolean)},
                                     :value {:type :OrderStatus},
                                     :write {:type (non-null Boolean)}}},
  :RequestFieldOrderComment {:fields {:default {:type String},
                                      :read {:type (non-null Boolean)},
                                      :required {:type (non-null Boolean)},
                                      :value {:type :OrderStatus},
                                      :write {:type (non-null Boolean)}}},
  :RequestFieldPriority {:fields {:default {:type :Priority},
                                  :read {:type (non-null Boolean)},
                                  :required {:type (non-null Boolean)},
                                  :value {:type :Priority},
                                  :write {:type (non-null Boolean)}}},
  :RequestFieldProcurementAccount {:fields
                                   {:default {:type String},
                                    :read {:type (non-null Boolean)},
                                    :required {:type (non-null Boolean)},
                                    :value {:type String},
                                    :write {:type (non-null Boolean)}}},
  :RequestFieldRoom {:fields {:default {:type :Room},
                              :read {:type (non-null Boolean)},
                              :required {:type (non-null Boolean)},
                              :value {:type :Room},
                              :write {:type (non-null Boolean)}}},
  :RequestFieldString {:fields {:default {:type String},
                                :read {:type (non-null Boolean)},
                                :required {:type (non-null Boolean)},
                                :value {:type String},
                                :write {:type (non-null Boolean)}}},
  :RequestFieldSupplier {:fields {:default {:type :Supplier},
                                  :read {:type (non-null Boolean)},
                                  :required {:type (non-null Boolean)},
                                  :value {:type :Supplier},
                                  :write {:type (non-null Boolean)}}},
  :RequestFieldTemplate {:fields {:default {:type :Template},
                                  :read {:type (non-null Boolean)},
                                  :required {:type (non-null Boolean)},
                                  :value {:type :Template},
                                  :write {:type (non-null Boolean)}}},
  :RequestFieldUser {:fields {:default {:type :User},
                              :read {:type (non-null Boolean)},
                              :required {:type (non-null Boolean)},
                              :value {:type :User},
                              :write {:type (non-null Boolean)}}},
  :RequesterOrganization
  {:fields {:department {:resolve :department-of-requester-organization,
                         :type (non-null :Organization)},
            :id {:type (non-null :ID)},
            :organization {:resolve :organization,
                           :type (non-null :Organization)},
            :user {:resolve :user, :type (non-null :User)}}},
  :Room {:fields {:building {:type (non-null :Building)},
                  :description {:type String},
                  :general {:type (non-null Boolean)},
                  :id {:type (non-null :ID)},
                  :name {:type (non-null String)}}},
  :SavedFilters {:fields {:budget_period_ids {:type (list :ID)},
                          :categories_with_requests {:type Boolean},
                          :category_ids {:type (list :ID)},
                          :inspector_priorities {:type (list String)},
                          :organization_ids {:type (list :ID)},
                          :priorities {:type (list String)},
                          :search {:type String},
                          :sort_by {:type String},
                          :sort_dir {:type String},
                          :states {:type (list :State)}}},
  :Supplier {:fields {:id {:type (non-null :ID)},
                      :name {:type (non-null String)}}},
  :Template {:fields {:article_name {:type String},
                      :article_number {:type String},
                      :category {:resolve :category,
                                 :type (non-null :Category)},
                      :id {:type (non-null :ID)},
                      :is_archived {:type (non-null Boolean)},
                      :model {:resolve :model, :type :Model},
                      :requests_count {:resolve :requests-count, :type (non-null :Int)}
                      :price_cents {:type (non-null :Int)},
                      :price_currency {:type (non-null String)},
                      :supplier {:resolve :supplier, :type :Supplier},
                      :supplier_name {:type String}}},
  :User {:fields {:id {:type (non-null :ID)},
                  :firstname {:type String},
                  :lastname {:type String},
                  :permissions {:resolve :permissions,
                                :type :UserPermissions}}},
  :UserPermissions {:fields
                    {:isAdmin {:type (non-null Boolean)},
                     :isInspectorForCategories {:type (list :Category)},
                     :isRequester {:type (non-null Boolean)},
                     :isViewerForCategories {:type (list :Category)}}}},
 :queries
 {:admins {:resolve :admins, :type (list :User)},
  :budget_limits {:resolve :budget-limits, :type (list :BudgetLimit)},
  :budget_periods {:args {:id {:type (list :ID)},
                          :whereRequestsCanBeMovedTo {:type (list :ID)}},
                   :resolve :budget-periods,
                   :type (list :BudgetPeriod)},
  :buildings {:resolve :buildings, :type (list :Building)},
  :categories {:args {:id {:type (list :ID)},
                      :inspected_by_auth_user {:type Boolean}},
               :resolve :categories,
               :type (list :Category)},
  :current_user {:resolve :current-user, :type :CurrentUser},
  :dashboard {:args {:budget_period_id {:type (list :ID)},
                     :category_id {:type (list :ID)},
                     :inspector_priority {:type (list :InspectorPriority)},
                     :organization_id {:type (list :ID)},
                     :priority {:type (list :Priority)},
                     :requested_by_auth_user {:type Boolean},
                     :search {:type String},
                     :order_status {:type (list :OrderStatus)},
                     :state {:type (list :State)}},
              :resolve :dashboard,
              :type :Dashboard},
  :main_categories {:resolve :main-categories, :type (list :MainCategory)},
  :models {:args {:limit {:type (non-null :Int)},
                  :offset {:type (non-null :Int)},
                  :search_term {:type (non-null String)}},
           :resolve :models,
           :type (list :Model)},
  :new_request {:args {:budget_period {:type (non-null :ID)},
                       :category {:type :ID},
                       :template {:type :ID},
                       ; :for_user {:type (non-null :ID)}
                       },
                :resolve :new-request,
                :type :Request},
  :organizations {:args {:root_only {:type (non-null Boolean)}},
                  :resolve :organizations,
                  :type (list :Organization)},
  :requesters_organizations {:resolve :requesters-organizations,
                             :type (list :RequesterOrganization)},
  :requests {:args {:budget_period_id {:type (list :ID)},
                    :category_id {:type (list :ID)},
                    :id {:type (list :ID)},
                    :short_id {:type (list String)},
                    :inspectory_priority {:type (list :InspectorPriority)},
                    :order_status {:type (list :OrderStatus)},
                    :organization_id {:type (list :ID)},
                    :priority {:type (list :Priority)},
                    :requested_by_auth_user {:type Boolean},
                    :search {:type String},
                    :state {:type (list :State)}},
             :resolve :requests,
             :type (list :Request)},
  :rooms
  {:args {:building_id {:type :ID}}, :resolve :rooms, :type (list :Room)},
  :settings {:resolve :settings, :type :ProcurementSettings},
  :suppliers {:args {:limit {:type (non-null :Int)},
                     :offset {:type (non-null :Int)},
                     :search_term {:type (non-null String)}},
              :resolve :suppliers,
              :type (list :Supplier)},
  :templates {:resolve :templates, :type (list :Template)},
  :users {:args {:exclude_ids {:type (list :ID)},
                 :isRequester {:type Boolean},
                 :limit {:type :Int},
                 :offset {:type :Int},
                 :search_term {:type String}},
          :resolve :users,
          :type (list :User)}}}
