[Unit]
Description=Leihs My Service
After=syslog.target
After=network.target

BindsTo=leihs-migration.service
After=leihs-migration.service
PartOf=leihs-migration.service

StartLimitIntervalSec=180
StartLimitBurst=6


[Service]
SyslogIdentifier=leihs-my
WorkingDirectory={{leihs_my_dir}}
User={{leihs_my_user}}
Group={{leihs_my_user}}

LimitNOFILE=64000
Restart=always
RestartSec=5

EnvironmentFile=/etc/leihs/config.env
Environment=DB_MAX_POOL_SIZE=10
Environment=HTTP_PORT={{LEIHS_MY_HTTP_PORT}}

ExecStart=/usr/bin/env java "-Xmx500m" -jar leihs-my.jar run


[Install]
WantedBy=multi-user.target
WantedBy=leihs-migration.service

# vi: ft=sh
