{:paths ["src" "shared-clj/src" "resources" "shared-clj/resources"]
 :deps
 {better-cond/better-cond {:mvn/version "2.1.5"}
  cheshire/cheshire {:mvn/version "5.13.0"}
  clj-http/clj-http {:mvn/version "3.13.0"}
  cljsjs/react-dom {:mvn/version "18.2.0-1"}
  clojure.java-time/clojure.java-time {:mvn/version "1.4.2"}
  com.flocktory/wet {:mvn/version "0.2.1"}
  com.layerware/hugsql {:mvn/version "0.5.3"}
  com.rpl/specter {:mvn/version "1.1.4"}
  fi.metosin/reitit-openapi {:mvn/version "0.7.1"}
  leihs-core/leihs-core {:local/root "./shared-clj"}
  metosin/reitit {:mvn/version "0.7.1"}
  org.clojure/clojure {:mvn/version "1.11.4"}
  org.clojure/data.generators {:mvn/version "1.1.0"}
  org.clojure/spec.alpha {:mvn/version "0.5.238"}
  org.threeten/threeten-extra {:mvn/version "1.8.0"}
  ring/ring-core {:mvn/version "1.15.2"}
  ring/ring-defaults {:mvn/version "0.5.0"}
  ring/ring-jetty-adapter {:mvn/version "1.15.2"}
  org.clj-commons/byte-streams {:mvn/version "0.3.4"}
  org.clojure/data.csv {:mvn/version "1.1.0"}
  org.jsoup/jsoup {:mvn/version "1.15.3"} ; CVE-2021-37714, CVE-2022-36033 (see hickory/hickory)
  dk.ative/docjure {:mvn/version "1.22.0"}
  hickory/hickory {:mvn/version "0.7.1" :exclusions [org.jsoup/jsoup]}
  drtom/clj-uuid {:mvn/version "0.1.7"}
  org.apache.commons/commons-lang3 {:mvn/version "3.20.0"}
  org.im4java/im4java {:mvn/version "1.4.0"}
  clj-yaml/clj-yaml {:mvn/version "0.4.0"}
  cider-ci/open-session {:mvn/version "2.0.0-beta.1"} ; upgrade will break
  pghstore-clj/pghstore-clj {:mvn/version "0.1.0"}
  buddy/buddy-auth {:mvn/version "2.2.0"}
  metosin/spec-tools {:mvn/version "0.10.7"}
  metosin/ring-swagger-ui {:mvn/version "4.19.1"}
  metosin/reitit-swagger-ui {:mvn/version "0.7.1"}
  digest/digest {:mvn/version "1.4.10"}
  cryptohash-clj/cryptohash-clj {:mvn/version "0.1.11"}
  org.clojure/clojurescript {:mvn/version "1.11.60"}
  org.clojure/data.codec {:mvn/version "0.1.1"}}

 :aliases
 {:build {:deps
          {io.github.leihs/tools.build
           {:git/tag "v0.9.5-leihs"
            :git/sha "94a26a9"}}
          :ns-default scripts.build}

  :cljfmt {:extra-deps {io.github.weavejester/cljfmt
                        {:git/tag "0.12.0"
                         :sha "434408f6909924f524c8027b37422d32bb49622d"}}
           :main-opts ["-m" "cljfmt.main"]}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :frontend {:deps {cljs-http/cljs-http {:mvn/version "0.1.48"}
                    funcool/promesa {:mvn/version "11.0.678"}
                    noencore/noencore {:mvn/version "0.3.8"}
                    com.pitch/uix.core {:mvn/version "1.0.1"}
                    com.pitch/uix.dom {:mvn/version "1.0.1"}}

             :extra-paths ["dev"]
             :extra-deps {binaryage/devtools {:mvn/version "1.0.7"}
                          thheller/shadow-cljs {:mvn/version "2.28.23"}}}

  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.9.1221"}}
             :main-opts ["-m" "antq.core"]}

  :clj-watson {:replace-deps
               {io.github.clj-holmes/clj-watson
                {:git/tag "v6.0.1" :git/sha "b520351"}}
               :main-opts ["-m" "clj-watson.cli"]}}}
