[Unit]
Description=Leihs Legacy Cron Service
After=syslog.target
BindsTo=leihs-migration.service

[Service]
SyslogIdentifier=leihs-legacy-cron
Type=oneshot
WorkingDirectory=/leihs/legacy
User={{leihs_legacy_user}}
Group={{leihs_legacy_user}}
Environment=LEIHS_SECRET={{leihs_master_secret}}
Environment=SECRET_KEY_BASE={{leihs_master_secret}}
Environment=PATH={{leihs_legacy_ruby_dir}}/bin:/usr/local/bin:/usr/bin:/bin
Environment=RAILS_LOG_LEVEL=WARN
Environment=RAILS_ENV=production
Environment=RAILS_SERVE_STATIC_FILES=Yes
ExecStart={{leihs_legacy_ruby_dir}}/bin/ruby -S \
    bundle exec rake leihs:cron

# vi: ft=sh
