[Unit]
Description=Leihs Legacy Cron Service Timer

[Timer]
OnCalendar={{leihs_run_nightly_tasks_on}}
RandomizedDelaySec={{leihs_run_nightly_tasks_randomized_delay_max_seconds}}
Persistent=true

[Install]
WantedBy=timers.target
