**/.DS_Store
.cider-ci_private/
.cpcache/
.lein-env
.lein-failures
.lein-repl-history
.nrepl-port
.rebel_readline_history
.sass-cache/
.shadow-cljs/
/client/src/locale/xx.json
/client/src/locale/zz.json
/node_modules
/resources/public/admin/js/
/target
/tmp
client.tgz
client/procure_client_app/
figwheel_server.log
log/
log/
logs/
profiles.clj
resources/built-info.yml
tmp/
