[Unit]
Description=Leihs Inventory Service
After=syslog.target
After=network.target

BindsTo=leihs-migration.service
After=leihs-migration.service
PartOf=leihs-migration.service

StartLimitIntervalSec=180
StartLimitBurst=6


[Service]
SyslogIdentifier=leihs-inventory
WorkingDirectory={{leihs_inventory_dir}}
User={{leihs_inventory_user}}
Group={{leihs_inventory_user}}

Restart=always
RestartSec=5

EnvironmentFile=/etc/leihs/config.env
Environment=DB_MAX_POOL_SIZE=20
Environment=HTTP_PORT={{LEIHS_INVENTORY_HTTP_PORT}}

ExecStart=/usr/bin/env java "-Xmx1G" -jar leihs-inventory.jar run


[Install]
WantedBy=multi-user.target
WantedBy=leihs-migration.service

# vi: ft=sh
